@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* to enable list style in dangerouslysetinnerhtml, enable set-inner-html class  */
  .set-inner-html ul {
    @apply list-disc list-inside;
  }
  .set-inner-html ol {
    @apply list-decimal list-inside;
  }
}

* {
  font-family: "Poppins", sans-serif;
}

.navbarbg {
  background: linear-gradient(
    44deg,
    rgb(25 133 114 / 97%) 20%,
    rgba(95, 201, 181, 0.92) 95%,
    rgba(95, 201, 181, 0.9) 30%
  );
}
.footerbg {
  background-size: contain;
  background: linear-gradient(
      45deg,
      rgba(34, 38, 41, 0) 0%,
      rgba(34, 38, 41, 0) 0%
    ),
    url(https://jss.jogjakota.go.id/v4/img/bg/footer.jpg) repeat;
}

/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
